Django
djangorestframework
Pillow
psycopg2-binary
python-dotenv
google-generativeai
pgvector
django-cors-headers
dj-database-url
langchain
langchain-google-genai
langchain-community
langchain-core
psycopg
